*,
html,
body {
    box-sizing: border-box !important;
}

h1,
h2,
h3,
h4 {
    // color: #007bff;
    text-transform: uppercase;
}

.navbar-nav {
    position: relative;
}

// .profile

.fa-user-friends {
    position: absolute;
    top: 5px;
    left: 88px;
    font-weight: 600;
    font-size: 10px;
    background-color: red;
    color: white;
    padding: 0 5px;
    border-radius: 5px;
}

.profile-header {
    display: flex;
}

.profile-name {
    position: relative;
    top: 15px;
    left: 0;
}

.gravatar {
    border-radius: 100%;
    margin: 0 10px;
}

.form-group {
    width: 60%;
    margin: 1rem auto;
}

.section {
    margin: 3rem auto;
}

.mt {
    margin-top: 5px;
}
.mt2 {
    margin-top: 10px;
}
.mt3 {
    margin-top: 20px;
}

.mb2 {
    margin-bottom: 20px;
}

.mr2 {
    margin-right: 10px;
}

.request {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
}

.article-content {
    font-size: 18px;
    margin-top: 3rem;
    word-wrap: wrap;
    max-width: 100%;
    overflow: hidden;
}

.article-showcase {
    font-size: 18px;
    margin-top: 2rem;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.article { 
    &:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
}

.text-smaller {
    font-size: 16px;
}

.form {
    margin-top: 2rem;
}

.authors {
    font-style: italic;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.comment-div {
    width: 80%;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.f-left {
    float: left;
}

.mobile-mt {
    margin-top: 3rem;
}

.content-div-border {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    border-radius: 10px;
}

.user-listed {
    width: 80%;
    display: flex;
    justify-content: start;
}

.btn-friend {
    margin-left: 10rem;
}

.friends-aside {
    display: flex;
    flex-direction: column;
}

.success,
.alert {
  background-color: #6fb3fc;
  color: #fff;
  padding: .5rem;
  text-align: center;
}

@media only screen and (max-width: 768px) {
    .form-group {
        width: 90%;
    }

    .title {
        text-align: center;
    }

    .user-listed {
        width: 100%;
        text-align: center;
    }

    .btn-friend {
        margin-left: 0;
    }
}

@media only screen and (max-width: 400px) {
    .gravatar {
        margin-bottom: 1.5rem;
    }
    .user-listed {
        margin: 0 auto;
    }
    .grav {
        display: inline-block;
        position: relative;
        top: 10px;
    }
}
